<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asem -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.asem"
            class="tools.vitruv.methodologisttemplate.model.asem.AsemPackage"
            genModel="src/main/ecore/asem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asem -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.asem.base"
            class="tools.vitruv.methodologisttemplate.model.asem.base.BasePackage"
            genModel="src/main/ecore/asem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asem -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.asem.classifiers"
            class="tools.vitruv.methodologisttemplate.model.asem.classifiers.ClassifiersPackage"
            genModel="src/main/ecore/asem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asem -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.asem.dataexchange"
            class="tools.vitruv.methodologisttemplate.model.asem.dataexchange.DataexchangePackage"
            genModel="src/main/ecore/asem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asem -->
      <package
            uri="edu.kit.ipd.sdq.metamodels.asem.primitivetypes"
            class="tools.vitruv.methodologisttemplate.model.asem.primitivetypes.PrimitivetypesPackage"
            genModel="src/main/ecore/asem.genmodel"/>
   </extension>

</plugin>
